{{#each this}}
<li class="list">
    <div class="photo-card">
        <img class="photo-card__img" src="{{this.webformatURL}}" alt="" width="480" />

        <div class="photo-card__info">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{this.likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{this.views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{this.comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{this.downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}